.s-hero {
    padding-top: 16.4rem;
    padding-bottom: 10.3rem;
    background-image: url(../assets/bg-hero.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed; //mantém o background fixo na página enquanto dá scroll
    height: 80rem;
    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .left {
        width: 100%;
        max-width: 78.2rem;
        h1 {
            margin-top: 2.4rem;
            margin-bottom: 1.8rem;
        }
        p {
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 140%;
            color: #FFFFFF;
            margin-bottom: 4rem;
        }
        .value {
            display: flex;
            strong {
                background-color: #FFFFFF;
                padding: 1.8rem 3.6rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2rem;
                color: #000000;
            }
            a { //Por default ela é display: inline;
                display: block;
                padding: 1.8rem 3.6rem;
                background-color: #3265EA;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2rem;
                color: #FFFFFF;
            }
        }
    }
    .right {
        position: relative;
        top: 9.7rem;
        width: 100%;
        max-width: 44.3rem;
        span { //Por default ela é display: inline;
            display: block;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 2.3rem;
        }
        button {
            position: relative;
            width: 100%;
            height: 24.7rem;
            border: 0.2rem solid #3265EA;
            overflow: hidden;
            box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 5.1rem;
            .thumbnail {
                width: 100%;
            }
            .play {
                position: absolute;
                bottom: 2.5rem;
                left: 3.2rem;
            }
        }
        .year-old {
            display: flex;
            align-items: center;
            p {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 1.7rem;
                max-width: 27.4rem;
                margin-left: 1.5rem;
            }
        }
    }
    @media(max-width: 1200px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
        height: auto;
        background-position-x: 30%;
        .left {
            max-width: 64rem;
            p {
                font-size: 1.8rem;
            }
        }
        .right {
            top: 0;
            max-width: 35.3rem;
            button {
                height: 19.7rem;
            }
        }

    }
    @media(max-width: 991px) { //Tablets
        padding: 6rem 0;
        background-size: cover;
        .container {
            flex-direction: column;
            align-items: center;
        }
        .left {
            text-align: center;
            margin-bottom: 4rem;
            .value {
                justify-content: center;
            }
        }
        .right {
            text-align: center;
            button {
               margin-bottom: 3rem; 
            }
            .year-old {
                flex-direction: column;
                p {
                    margin-left: 0;
                    margin-top: 2rem;
                }
            }
        }
    }
    @media(max-width: 560px) { //Celulares
        padding: 4rem 0;
        .left {
            h1 {
                font-size: 6rem;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.4rem;
                max-width: 80%;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
            .value {
                flex-direction: column;
            }
        }
        .right {
            max-width: 31rem;
            button {
                height: 17.7rem;
            }
            .year-old {
                p {
                    line-height: 2.4rem;
                }
            }
        }
    }
}

.s-info-geral{
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                display: block;
                text-align: center;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 160%;
                color: #BDC2CB;
                margin-top: 1.2rem;
            }
        }
    }
    @media(max-width: 1200px) {
        padding: 4rem 0;
        height: auto;
        ul {
            flex-wrap: wrap;
            gap: 3rem 0;
            li {
                width: 33.3%;
            }
        }
    }
    @media(max-width: 560px) {
        ul {
            li {
                width: 50%;
                span {
                    max-width: 14.5rem;
                }
            }
        }
    }
}

.s-story {
    width: 100%;
    padding-top: 16rem;
    padding-bottom: 8rem;
    background-image: url(../assets/bg-story.png);
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    .container {
        display: flex;
        align-items: center;
    }
    .left {
        width: 100%;
        max-width: 62.9rem;
        h2 {
            margin-top: 2.8rem;
            margin-bottom: 2.4rem;
            max-width: 50.2rem;
        }
        p {
            margin-bottom: 5.6rem;
        }
        .corp {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
                font-size: 1.6rem;
                line-height: 160%;
                max-width: 32.4rem;
                margin-left: 4.6rem;
            }
        }
    }
    .kratos-atreus {
        position: relative;
        left: 11rem;
        top: -4.5rem;
    }
    @media(max-width: 1200px) {
        background-image: none;
        padding: 6rem 0;
        .container {
            flex-direction: column-reverse;
        }
        .left {
            max-width: 100%;
            text-align: center;
            .subtitle {
                justify-content: center;
            }
            h2 {
                max-width: 75%;
                margin: 2rem auto;
            }
            .corp {
                justify-content: center;
            }
        }
        .kratos-atreus {
            left: 0;
            top: 0;
            margin-bottom: 6rem;
        }

    }
    @media(max-width: 991px) {
        .left {
            h2 {
                max-width: 95%;
            }
        }
    }
    @media(max-width: 560px) {
        .left {
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.6rem;
                margin-bottom: 4rem;
            }
            .corp {
                flex-direction: column;
                p{
                    margin-left: 0;
                    margin-top: 3rem;
                }
            }
        }
        .kratos-atreus {
            margin-bottom: 4rem ;
        }
    }
}



.s-characters
{
    padding-top: 17.6rem;
    padding-bottom: 14.3rem;
    background-image: url(../assets/bg-characters.png);
    background-position: center center;
    overflow: hidden;
    .description {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left {
            width: 100%;
            max-width: 61.2rem;
            h2 {
                margin-top: 2.8rem;
                margin-bottom: 2.4rem;
            }
        }
        .right {
            display: flex;
            align-items: center;
            .text {
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 140%;
                    color: #FFFFFF;
                    max-width: 14.3rem;
                    margin-top: 2.2rem;;
                }
            }
        }
    }
    @media(max-width: 1200px) {
        padding: 6rem 0;
    }
    @media(max-width: 991px) {
        .description {
            flex-direction: column;
            align-items: center;
            .left {
                max-width: 100%;
                text-align: center;
                margin-bottom: 4rem;
            }
        }
    }
    @media(max-width: 560px) {
        padding: 4rem 0;
        .description {
            .left {
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.6rem;
                }
            }
            .right {
                flex-direction: column;
                align-items: center;
                .text {
                    img {
                        margin: 0 auto;
                    }
                    span {
                        max-width: 100%;
                    }
                }
            }
        }
        .slide-characters {
            margin-top: 4rem;
        }
    }
}