* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; //Retira o tópico de uma lista
    font-family: 'Archivo', sans-serif;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000201;;
}